body {
  font-family: "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif";
}

pre, code {
  font-family: monospace, monospace;
}

pre {
  overflow: auto;
}

pre>code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}